@media screen and (max-width: 800px){

    body{
        padding: 0px 50px 10px 15px;
    }

    .logo{
        max-width: 50px;
    }

    header{
        margin-bottom: -40px;
    }

    header ul{
        flex-direction: column;
    }

    header ul li a{
        display: none;
    }

    .content{
        flex-direction: column;
    }

    .textbox h2{
        font-size: 2.5em;
    }

    .imgbox{
        width: 250px;
    }

    .imgbox img{
        width: 150px;
        
    }

    .thumb{
        position: fixed;
        left: 75%;
        bottom: 10px;
        top: auto;
        display: flex;
    }

    .thumb li:hover{
        transform: translateY(-15px);
    }

    .socials{
        position: fixed;
        right: 5px;
    }
}